<ion-view view-title="Account">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list acc-details">
	    <a class="item item-thumbnail-left">
	      <span class="img--profile">
	      	<i class="icon-user"></i>
	      </span>
	      <h2>{{userData.name}}</h2><button ng-click="modal.show()"><i class="icon-edit"></i></button>
	      <p>{{userData.email}}</p>
	      <p>{{userData.number}}</p>
	    </a>
		</div>
    <div class="list acc-list">
			<ion-item class="card" ng-click="UserOrders()">
			  <i class="icon ion-person"></i>My Order
			</ion-item>
			<ion-item class="card" ng-click="UserAddress()">
			  <i class="icon ion-asterisk"></i>My Address
			</ion-item>
			<ion-item class="card" ng-click="UserChangePassword()">
			  <i class="icon ion-asterisk"></i>Change Password
			</ion-item>
			<ion-item class="card" ng-click="logout()">
			  <i class="icon ion-log-out"></i>Logout
			</ion-item>
    </div>
	</ion-content>
</ion-view>
