<ion-view view-title="Add Address">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
	<div class="address--block">
	<form name="AddressForm" novalidate="">
  <div class="list card form">
<!--User Name  -->

      <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.name.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.name.$valid && AddressForm.$submitted}">
        <input name="name" type="text" ng-model="Newaddress.name" placeholder="Enter Your Full Name" required>
        <div class="error-container" ng-show="AddressForm.name.$error &&AddressForm.$submitted" ng-messages="AddressForm.name.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>



<!-- Phone Number -->
       <!-- <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.number.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.number.$valid && AddressForm.$submitted}">
        <input name="number" type="number" ng-model="Newaddress.phone" maxlength="10" minlength="10" placeholder="Enter Your phone Number" required>
        <div class="error-container" ng-show="AddressForm.number.$error &&AddressForm.$submitted" ng-messages="AddressForm.number.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label> -->


    <!--House Address  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.address.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.address.$valid && AddressForm.$submitted}">
        <input name="address" type="text" ng-model="Newaddress.house_name" placeholder="Enter House Name or Number" required>
        <div class="error-container" ng-show="AddressForm.address.$error &&AddressForm.$submitted" ng-messages="AddressForm.address.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>

<!--Street Address  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.street.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.street.$valid && AddressForm.$submitted}">
        <input name="street" type="text" ng-model="Newaddress.street" placeholder="Enter Street Name" required>
        <div class="error-container" ng-show="AddressForm.street.$error &&AddressForm.$submitted" ng-messages="AddressForm.street.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>


<!--City Address  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.city.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.city.$valid && AddressForm.$submitted}">
        <input name="city" type="text" ng-model="Newaddress.city" placeholder="Enter Your City" required>
        <div class="error-container" ng-show="AddressForm.city.$error &&AddressForm.$submitted" ng-messages="AddressForm.city.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>


<!--District Address  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.district.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.district.$valid && AddressForm.$submitted}">
        <input name="district" type="text" ng-model="Newaddress.district" placeholder="Enter District" required>
        <div class="error-container" ng-show="AddressForm.district.$error &&AddressForm.$submitted" ng-messages="AddressForm.district.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>


<!--Pincode  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.pincode.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.pincode.$valid && AddressForm.$submitted}">
        <input name="pincode" type="number" ng-model="Newaddress.pincode" minlength="6" maxlength="6"  placeholder="Enter Your Pincode" ng-change="pincheck(Newaddress.pincode)" required>
      <div class="assertive" ng-show="pincodeErrorMessage">We can not delivere item in this area</div>
        <div class="error-container" ng-show="AddressForm.pincode.$error &&AddressForm.$submitted" ng-messages="AddressForm.pincode.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>

      <!--Alternative Phone Number  -->
       <label class="item item-f-list" ng-class="{ 'has-error' : AddressForm.altnumber.$invalid && AddressForm.$submitted ,'no-errors' : AddressForm.altnumber.$valid && AddressForm.$submitted}">
        <input name="altnumber" type="number" ng-model="Newaddress.altnumber" minlength="10" maxlength="10"  placeholder="Contact Number" required>
        <div class="error-container" ng-show="AddressForm.altnumber.$error &&AddressForm.$submitted" ng-messages="AddressForm.altnumber.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </label>


    <div class="item item-input-inset">
    <button class="button button-red button-assertive" ng-click="AddNewAddress(AddressForm)">Add Address</button></div>
  </div>
</form>
</div>
	</ion-content>
</ion-view>
