<ion-view view-title="Select Address">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
 <ion-nav-buttons side="right">
      <button class="button button-icon done" ng-click="doneAddressSelection(selectedAddressId)">
		    Done
      </button>
    </ion-nav-buttons>
	<ion-content >
    <div class="user-add-list--block section--section--adreess">
		<ion-list>
			<ion-item ng-repeat="adrs in addressList">
				<div class="row">
					<div class="col">
						<h3>{{adrs.u_name}}</h3>
					</div>
					<div class="col type">
						<span>{{adrs.a_type}}</span>
					</div>
          <div class="options">
  					<div class="edit" ng-click="editAddress($index)">
  						<button><i class="ion-edit"></i></button>
  					</div>
  					<div class="delete">
  						<button><i class="ion-trash-a"></i></button>
  					</div>
          </div>
				</div>
        <div class="row">
				<div class="col">
					<p>{{adrs.h_name}}</p>
					<p>{{adrs.s_name}}</p>
					<p>{{adrs.c_name}}</p>
					<p>{{adrs.d_name}}</p>
					<p>{{adrs.pincode}}</p>
					<p>{{adrs.p_number}}</p>


				</div>
      </div>

      <div class="row">
        <div class="col">
  						<ion-radio ng-model="user.selectedAddressId" ng-value="adrs.address_id">
  						 Click Here to Select
  						</ion-radio>
        </div>
      </div>

			</ion-item>

      <div class="add---new">
        <button class="button button-bar" ng-click="addNewAddress()">Add New Address</button>
      </div>

		</ion-list>
  </div>


	</ion-content>


</ion-view>
