<ion-view view-title="{{cakeDetails.c_name}}">
	<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="goToCart()">
        <i class="icon-shopping-bag"></i>
        <i>{{cartCount}}</i>
      </button>
    </ion-nav-buttons>
	<ion-content class="cakes--listing-block cake--details-block">

 		<div class="coverr">
			<div class="card">
				<img class="full-image" src="{{cakeDetails.c_image}}">
			</div>
			<div class="card card-details">
				<div class="row">
					<div class="col">
						<h2>{{cakeDetails.c_name}}</h2>
					</div>
				</div>
				<div class="row">
				<div class="col">	
				    <ion-checkbox ng-model="cakeDetails.eggless" ng-init="cakeDetails.eggless=false">Eggless</ion-checkbox>
				</div>
				<div class="col">	
				    <ion-item ng-click="openWeigthPopover($event)">
				    <span class="price" ng-if="cakeDetails.weight<1000">{{cakeDetails.weight}} g</span>
      				<span class="price" ng-if="cakeDetails.weight>=1000">{{cakeDetails.weight/1000}} Kg</span>
				    </ion-item>
				</div>
				  </div>
				<h6>Special Sprice</h6>
	      <a class="assertive">Rs. {{cakeDetails.c_prize}}/-
					
				</a>

				<div class="row slc-date" >
      <div class="col col-50" ng-click="openDatePicker()">
        <div class="outline">
          <span>Select Delivery Date</span>
          <h3>{{deliveryDate |date:fullDate}}</h3>
        </div>
      </div>
      <div class="col col-50" ng-click="openTimePicker()">
      	<div class="outline">
          <span>Select Your Time</span>
        	<h3>{{deliveryTime |date:'h:mm:ss a'}}</h3>
      	</div>
      </div>
  </div>
				<p ng-bind-html="cakeDetails.c_desc"><!-- {{cakeDetails.c_desc | htmlToPlaintext}} --></p>
			</div>

 		</div>

	</ion-content>
	<ion-footer-bar align-title="center" class="bar-assertive footer--block">
  <div class="title" ng-click="addToCart()">{{cakeCartStatus()}}
  </div>
</ion-footer-bar>
</ion-view>

