<ion-view title="Change Password">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
              <ion-content>
                <div class="user-add-list--block change--password">

                  <div class="card">
                <form name="changePasswordForm" novalidate="" class="list">
                    <label class="item item-input">
                      <span class="input-label">Current Password</span>
                      <input  ng-model="password.current_password" type="password"  required>
                    </label>
                    <label class="item item-input">
                      <span class="input-label" >New Password</span>
                      <input ng-model="password.new_password" type="password"  required>
                    </label>
                    <label class="item item-input">
                      <span class="input-label">Retype New Password</span>
                      <input  ng-model="password.confirm_new_password" type="password" required>
                        <p ng-show="password.new_password == password.confirm_new_password"></p>
                    </label>
                    <div ng-show="passMismatch">
                      <p class="assertive">Password Miss Match</p>
                    </div>
                    <button class="button button-assertive change-password" ng-click="save(changePasswordForm)">Submit</button>



                </form>
                </div>

              </div>
               </ion-content>
            </ion-view>
