 <ion-popover-view class="CountPopover">
    <ion-content>
     <ion-item ng-click="setCount(1)">
     1
     </ion-item>
     <ion-item ng-click="setCount(2)">
     2
     </ion-item>
     <ion-item ng-click="setCount(3)">
     3
     </ion-item>
     <ion-item ng-click="setCount(4)">
     4
     </ion-item>
     <ion-item ng-click="setCount(5)">
     5
     </ion-item>
    </ion-content>
  </ion-popover-view>