<!-- <div class="bar bar-header bar-light r-header">
  <div class="logo">
    <img src="img/cake1.jpg" alt="">
  </div>
</div> -->

<ion-view view-title="Forgot Password">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  <ion-content  class="">

    
        <!-- OTP Verification FORM -->
        <div ng-show="OTPFormShow">
          <form name="OtpForm" novalidate="">
            <h5>Enter the OTP that you have recieved in the registered number to activate your account</h5>
              <label class="item item-input" ng-class="{ 'has-error' : OtpForm.name.$invalid && OtpForm.$submitted ,'no-errors' : OtpForm.name.$valid && OtpForm.$submitted}">
                <input name="name" type="number" maxlength="10" ng-model="registerData.otp" placeholder="Enter the OTP" required>
            </label>
            <div class="error-container" ng-show="OtpForm.name.$error &&OtpForm.$submitted" ng-messages="OtpForm.name.$error">
            <div ng-messages-include="error-list.html"></div>
            </div>
          <div ng-show = "otpError">
          <span>Entered OTP is  Incorrect</span>
        </div>
            <div>
              <button class="button button-full button-assertive" ng-click="OtpVerification(OtpForm)">Submit</button>
            </div>
          </form>
          <div>
            <span>
              <a ng-click="EditNumber()">Edit Your Number</a> <a ng-click="resendOtp()">Resend OTP</a>
            </span>
          </div>
        </div>

        <div class="cake--login--cover">
        <form name="loginForm" novalidate="">
              <!-- Password -->
          <label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted ,'no-errors' : loginForm.password.$valid && loginForm.$submitted}">
            <input name="password" type="password" ng-model="loginData.password" placeholder="Password" minlength=6 required>
          </label>
          <div class="error-container" ng-show="loginForm.password.$error &&loginForm.$submitted" ng-messages="loginForm.password.$error">
          <div ng-messages-include="error-list.html"></div>
          </div>
          <div ng-show="loginError">
            <p><span class="assertive">Incorrect username or password</span></p>
          </div>
          <button class="button button-full button-assertive" ng-click="login(loginForm)">Update Password</button>
        </form>

  </ion-content>
</ion-view>
