<ion-view view-title="Order Summary">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  <ion-content class="has-footer">
    <div class="card os--block">
	    <div class="address">
	    	<h4>{{addressList.u_name}} </h4>
	    	<p>
	    		{{addressList.h_name}}<br>
	    		{{addressList.s_name}}<br>
	    		{{addressList.c_name}} {{addressList.d_name}}<br>
          {{addressList.pincode}}
	    	</p>
	    </div>
	    <button class="button button-dark" ng-click="ChangeAddress()"> Change Address </button>
    </div>
    <!-- <div class="row slc-date" >
      <div class="col col-50" ng-click="openDatePicker()">
        <div class="outline">
          <span>Select Delivery Date</span>
          <h3>{{deliveryDate |date:fullDate}}</h3>
        </div>
      </div>
      <div class="col col-50" ng-click="openTimePicker()">
      	<div class="outline">
          <span>Select Your Time</span>
        	<h3>{{deliveryTime |date:'h:mm:ss a'}}</h3>
      	</div>
      </div>
  </div> -->

    <!-- <ion-list>
   		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="items in orderItems" type="item-text-wrap">
        <img ng-src="{{items.c_image}}">
        <h2>{{items.c_name}}</h2>
        <p>{{items.c_prize}}</p>
		        <p class="qty" ng-click="openPopover($event,$index)"><span>Qty : {{items.count}}</span></p>
        <ion-option-button class="button-assertive" ng-click="remove(items)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->

    <ion-list>
	   		<ion-item class="item-remove-animate item-avatar item-icon-right cart--block--list" ng-repeat="items in orderItems" type="item-text-wrap">
		        <div class="row">
		        	<div class="col-75">
								<img ng-src="{{items.c_image}}">
				        <div class="right--bl">
									<h2>{{items.c_name}}</h2>
                  <p><i class="icon-rupee"></i> {{items.c_prize}}</p>
                  <p>Count : {{items.count}}</p>
					        <p> <i class="icon-rupee"></i> {{items.c_prize * items.count}}</p>
				        </div>
		        	</div>
		        	<div class="col-25">
		        		<p class="qty" ng-click="openPopover($event,$index)"><span>Qty : {{items.count}}</span></p>
		        	</div>
		        </div>
		        <ion-option-button class="button-assertive" ng-click="removeCartItems(items)">
		          Delete
		        </ion-option-button>
	      	</ion-item>
    </ion-list>



    <!-- <ion-list>
    	<ion-item>
    		Price Details
    	</ion-item>
    	<p>Price({{orderItems.length}} Items) {{totalCost()}}</p>
    	<p>Delivery {{deliveryCost}}</p>
    	<p>Amount Payable {{totalCost() + deliveryCost}}</p>
    </ion-list> -->


    <ion-list ng-if="!emptyCart" class="total--block">
     <div class="row">
       <div class="col-75"> Total <span class="cover"> {{orderItems.length}} Items </span> :  </div>
       <div class="col-25"> <i class="icon-rupee"></i> {{totalCost()}} </div>
     </div>
     <div class="row">
       <div class="col-75"> Delivery Charges : </div>
       <div class="col-25"> <i class="icon-rupee"></i> {{deliveryCost}} </div>
     </div>
     <hr>
     <div class="row">
       <div class="col-75"> Amount Payable </div>
       <div class="col-25"> <h4> <i class="icon-rupee"></i> {{totalCost() + deliveryCost}}  </h4> </div>
     </div>
   </ion-list>


  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive bar-assertive footer--block cart--footer">
  <div class="left" ng-click="viewPriceDetails()">
  {{totalCost() + deliveryCost}}
  <p>View Price Details</p>
  </div>
  <div class="right" ng-click="confirmOrder()">
   Confirm Order
  </div>
</ion-footer-bar>

 

</ion-view>
