<ion-view view-title="Success" hide-back-button="true">
  <ion-content>
    <!--

    <ion-list>
      <ion-item>
      #0000{{order_id}}
      </ion-item>
    </ion-list>
    <button class="button button-bar button-positive" ng-click="goHome()">Go Home</button>
    <button class="button button-bar button-positive">See Order Status</button>

   -->

   <div class="succes-block">
     <i class="icon-cake"></i>
     <h3> Order Submitted Successfully. </h3>
     <p>Select a menu item above to continue, or view all orders placed today below. </p>
     <div class="button button-assertive" ng-click="goHome()"> Go Home </div>
     <div class="button button-dark" ng-click="goOrderList()">  See Order Status </div>
   </div>
  </ion-content>
</ion-view>
