<ion-modal-view class="search-modal udp-modal">
    <ion-header-bar>
      <h1 class="title uyp"> <i class="icon-close" ng-click="modal.hide()"></i> Update Your Profile</h1>
    </ion-header-bar>
    <ion-content>
    <form name="personalDataForm" novalidate="">
              <!-- User Name-->
          <label class="item item-input" ng-class="{ 'has-error' : personalDataForm.name.$invalid && personalDataForm.$submitted ,'no-errors' : personalDataForm.name.$valid && personalDataForm.$submitted}">
              <input name="name" type="text" ng-model="userData.name" placeholder="Name" required>
          </label>
          <div class="error-container" ng-show="personalDataForm.name.$error &&personalDataForm.$submitted" ng-messages="personalDataForm.name.$error">
          <div ng-messages-include="error-list.html"></div>
          </div>
          <!-- User Name-->
          <label class="item item-input" ng-class="{ 'has-error' : personalDataForm.email.$invalid && personalDataForm.$submitted ,'no-errors' : personalDataForm.email.$valid && personalDataForm.$submitted}">
              <input name="email" type="email"  ng-model="userData.email" placeholder="Enter your Email Address" required>
          </label>
          <div class="error-container" ng-show="personalDataForm.email.$error &&personalDataForm.$submitted" ng-messages="personalDataForm.email.$error">
          <div ng-messages-include="error-list.html"></div>
          </div>
          <div style="padding: 10px;">
            <button class="button button-full button-assertive" ng-click="updateProfile(personalDataForm)">Update</button>
          </div>

        </form>
    </ion-content>
  </ion-modal-view>
