<ion-view view-title="Become a Cake Bakery User">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>

		<div class="cake--login--block">
      <div class="cake--login--cover">

		<!-- Registration Form -->
		<div ng-show ="RegFormShow">
			<form name="regForm" novalidate="">

		          <!-- Name-->
		      <label class="item item-input" ng-class="{ 'has-error' : regForm.name.$invalid && regForm.$submitted ,'no-errors' : regForm.name.$valid && regForm.$submitted}">
		          <input name="name" type="text" ng-model="registerData.name" placeholder="Enter Your Full Name" required>
		      </label>
		      <div class="error-container" ng-show="regForm.name.$error &&regForm.$submitted" ng-messages="regForm.name.$error">
		      <div ng-messages-include="error-list.html"></div>
		      </div>

		        <!-- Phone Number-->
		      <label class="item item-input" ng-class="{ 'has-error' : regForm.number.$invalid && regForm.$submitted ,'no-errors' : regForm.number.$valid && regForm.$submitted}">
		          <input name="number" type="number" maxlength="10" ng-model="registerData.phone" placeholder="Phone Number" required>
		      </label>
		      <div class="error-container" ng-show="regForm.number.$error &&regForm.$submitted" ng-messages="regForm.number.$error">
		      <div ng-messages-include="error-list.html"></div>
		      </div>

		        <!-- Email-->
		      <label class="item item-input" ng-class="{ 'has-error' : regForm.email.$invalid && regForm.$submitted ,'no-errors' : regForm.email.$valid && regForm.$submitted}">
		          <input name="email" type="email" ng-model="registerData.email" placeholder="apps@example.com" required>
		      </label>
		      <div class="error-container" ng-show="regForm.email.$error &&regForm.$submitted" ng-messages="regForm.email.$error">
		      <div ng-messages-include="error-list.html"></div>
		      </div>

		       <!-- Password -->
	      <label class="item item-input" ng-class="{ 'has-error' : regForm.password.$invalid && regForm.$submitted ,'no-errors' : regForm.password.$valid && regForm.$submitted}">
	        <input name="password" type="password" ng-model="registerData.password" placeholder="Password" minlength=6 required>
	      </label>
	      <div class="error-container" ng-show="regForm.password.$error &&regForm.$submitted" ng-messages="regForm.password.$error">
	      <div ng-messages-include="error-list.html"></div>
	      </div>
				<div ng-show = "numberExist">
					<span>Entered number is aready exist</span>
				</div>
				<div ng-show = "blockNumError">
					<span>This account user is blocked from our community because of unethical things</span>
				</div>
		      <div>
		      	<button class="button button-full button-assertive" ng-click="registerAccount(regForm)">Sign Up</button>
		      </div>
	      	</form>
	      	<div>
      		<span>
      		<a href="#/login">Existing User? Log in</a>

      		</span>
      	</div>
      	</div>

      	<!-- OTP Verification FORM -->
      	<div ng-show="OTPFormShow">
      		<form name="OtpForm" novalidate="">
      			<h5>{{otpHeadMessage}}</h5>
	      			<label class="item item-input" ng-class="{ 'has-error' : OtpForm.name.$invalid && OtpForm.$submitted ,'no-errors' : OtpForm.name.$valid && OtpForm.$submitted}">
			          <input name="name" type="number" maxlength="10" ng-model="registerData.otp" placeholder="Enter the OTP" required>
			      </label>
			      <div class="error-container" ng-show="OtpForm.name.$error &&OtpForm.$submitted" ng-messages="OtpForm.name.$error">
			      <div ng-messages-include="error-list.html"></div>
			      </div>
					<div ng-show = "otpError">
					<span>Entered OTP is  Incorrect</span>
				</div>
			      <div>
			      	<button class="button button-full button-assertive" ng-click="OtpVerification(OtpForm)">Submit</button>
			      </div>
      		</form>
      		<div>
	      		<span>
	      			<a ng-click="EditNumber()">Edit Your Number</a>	<a ng-click="resendOtp()">Resend OTP</a>
	      		</span>
      		</div>
      	</div>

			</div>
			</div>
	</ion-content>
</ion-view>
