<ion-view view-title="">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  <div class="search--list--block">
   <ion-nav-buttons side="primary">
      <button class="button button-icon" ng-click="goHome()">
      <i class="icon ion-android-home"></i>
      </button>
    </ion-nav-buttons>
  	<ion-content>
  	<ion-item class="search--head">
    	<div>
        Search result for <span>{{key}}</span> <p>{{CakeList.length}} results founds</p>
      </div>
  	</ion-item>
      <div class="cakes--listing-block">
        <div class="item item-body" ng-repeat="cake in CakeList" >
         <img class="full-image" src="{{cake.c_image}}" ng-click="CakeDetailsPage(cake)">
         <div class="text--block">
           <h2>{{cake.c_name}}</h2>
           <p>{{cake.cake_desc}}</p>
         </div>
         <p class="cake--price">
           <a  class="subdued assertive">Rs. {{cake.c_prize}}</a>
           <a href="#" class="subdued royal">{{cake.c_scale}}</a>
         </p>
       </div>
        </div>
  	</ion-content>
  </div>
</ion-view>
