<ion-view>
 
        <ion-content scroll="false">
    <button class="button button-light">
  button-light
</button>
     <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
                <!-- <ion-slide ion-slide-tab-label="{{Height}}"><div ng-include src="'templates/chats.html'" style="height: {{Height}}px;"></div></ion-slide> -->
                <ion-slide ion-slide-tab-label="Main {{tabs.type_name}}" ng-repeat="tabs in CakeTypes">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus recusandae architecto laborum quas iste, nam maxime. Non, consequuntur magni, rerum obcaecati, porro, officiis temporibus assumenda dicta odit ullam dolore. Doloremque!
                </ion-slide>
               <!--  <ion-slide ion-slide-tab-label="Main 2">

                <h1>Tab 3</h1>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quas dolore deleniti, non aut quis inventore repudiandae, nostrum porro alias dolor pariatur. Perferendis voluptatum, maiores aperiam eius consequatur iusto iure.

                </ion-slide>
                <ion-slide ion-slide-tab-label="Main 3"><h1>Tab 4</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem porro et nostrum nam cumque hic possimus dolorem deleniti distinctio incidunt, magnam ipsum, earum quis molestiae blanditiis doloribus dolorum. Voluptatum, rem!
                </ion-slide> -->
            </ion-slide-box>
        </ion-content>
</ion-view>