 <ion-modal-view class="search-modal">
   <div class="search--block">
    <ion-header-bar>

	   <form name="searchForm" class="col col-100" action="." ng-submit="$event.preventDefault();userSearchCakes(searchForm,searchString)">
       <button class="icon ion-android-arrow-back" ng-click="modal.hide()"></button>
				<input type="search" class="search col col-70" ng-model="searchString" placeholder="Search Cakes"  required />
				<!-- $event.preventDefault();hideSearchPopUp(user.searchString) -->
        <!-- ng-change="updateTags(searchString)" -->
		</form>

    </ion-header-bar>
    <ion-content>
    <ion-item ng-repeat="tags in searchTags|searchFor:searchString" ng-click="setSearchTag(tags.tag)">
    	{{tags.tag}}
    </ion-item>

    </ion-content>
    </div>
  </ion-modal-view>


  <!-- http://moviesplay.in/downloads/load/2017%20Movies/Kadhal%20Kan%20Kattudhe%20(2017)%20Tamil%20HQ%20DVDScr/Single%20Part/Kadhal%20Kan%20Kattudhe%20(2017)%20HQ%20DVDScr%20Single%20Part.mp4 -->
