<ion-view view-title="Order Details">
<ion-nav-buttons side="left"> 
      <button class="button button-icon" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
	<ion-list>
		<ion-item item="item" ng-click="itemClick()" class="item-thumbnail-left item--thum--block" ng-repeat="item in OrderList" ng-class="{ active: item.isActive}">
			<div class="order-de--block">
				<span>Order ID: {{item.order_id}}  |</span>
				<span>Placed on {{convertToAngularTime(item.ordered_date) |date:'longDate'}}</span>
			</div>
      <div class="thumb" ng-click="convertToAngularTime(item.ordered_date)">
				<img ng-src="{{item.c_image}}">
	      <div class="text">
					<h2>{{item.c_name}}</h2>
					<p>{{item.weight}}</p><p>{{item.c_prize}}</p>
					<p>Count : {{item.count}}</p>
	      </div>
      </div>
      <p></p>
			<div class="deli--d--block">
				<span>Delivered will be: <b>{{item.delivery_date}} {{item.delivery_time}}</b> |</span>
				<span>Status: 
            <span ng-if="item.order_status == '0'"><b>Proccesing</b>
            </span><span ng-if="item.order_status == '1'"><b>Delivered</b></span>
        </span>
			</div>
			<div ng-click="showalertPopup(item)">
				<button class="button button-bar button-royal"> Cancel Order</button>
			</div>
    </ion-item>
	</ion-list>

	<div ng-if="OrderList.length == 0" class="text-center empty">

				<svg version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         x="0px" y="0px" width="60px" height="60px" viewBox="0 0 404.016 407.494" enable-background="new 0 0 404.016 407.494"
         xml:space="preserve" fill="#000">
      <defs>
      </defs>
      <g>
        <path d="M14.51,6.983c-3.319-3.319-8.701-3.319-12.021,0c-3.32,3.319-3.32,8.701,0,12.021l94.168,94.168l-79.169,106.52
          c-1.246,1.672-1.754,3.715-1.523,5.695v168.215c0,5.035,5.347,8.914,9.953,7.758l286.682-72.244l75.888,75.888
          c1.66,1.659,3.835,2.489,6.011,2.489s4.351-0.83,6.011-2.489c3.319-3.319,3.319-8.702,0-12.021L14.51,6.983z M108.093,124.607
          l56.101,56.101L44.79,210.938l-1.063,0.27L108.093,124.607z M31.966,230.688l18.429-4.664l127.031-32.084l16.546,16.546
          L57.251,244.559c-4.289,1.071-6.895,5.414-5.828,9.7c0.906,3.636,4.168,6.066,7.758,6.066c0.636,0,1.289-0.078,1.941-0.238
          l146.049-36.402l14.118,14.118L31.966,285.735V230.688z M31.966,302.239l202.494-51.265l15.769,15.769L31.966,321.747V302.239z
           M31.966,383.333v-45.086l231.444-58.323l36.011,36.011L31.966,383.333z"/>
        <path d="M188.743,16.098c52.801,1.543,102.18,14.211,139.453,35.821c34.172,19.812,54.906,45.273,59.125,72.301l-182.586,46.225
          l13.251,13.251l170.034-42.945v54.84l-126.19,31.948L275,240.71l113.015-28.612v19.922l-97.208,24.497l13.181,13.181l84.027-21.174
          v45.086L340,305.71l13.18,13.18l44.792-11.288c3.555-0.898,6.043-4.093,6.043-7.757l-0.07-170.598
          c-2.226-34.762-26.238-67.113-67.723-91.168C295.677,14.567,241.95,1.044,184.938,0.001c-2.582-0.043-5.027,1.156-6.566,3.226
          l-60.054,80.801l11.436,11.436L188.743,16.098z"/>
        <path d="M291.388,194.45c-1.067-4.289-5.411-6.895-9.696-5.828l-28.898,7.203c-4.285,1.07-6.895,5.41-5.824,9.695
          c0.906,3.641,4.168,6.071,7.753,6.071c0.641,0,1.293-0.079,1.942-0.243l28.894-7.199
          C289.849,203.079,292.458,198.735,291.388,194.45z"/>
        <path d="M308.087,85.192c1.262,0.735,2.644,1.082,4.004,1.082c2.761,0,5.445-1.429,6.929-3.988
          c2.215-3.82,0.914-8.719-2.906-10.934c-13.215-7.664-28.098-14.172-44.238-19.347c-4.207-1.348-8.711,0.968-10.059,5.175
          c-1.347,4.207,0.969,8.711,5.176,10.063C282.036,72.067,295.864,78.106,308.087,85.192z"/>
        <path d="M237.263,51.356c0.718-4.363-2.235-8.476-6.594-9.195c-9.399-1.547-19.086-2.691-28.789-3.41
          c-4.395-0.324-8.239,2.984-8.567,7.39c-0.324,4.407,2.985,8.243,7.391,8.567c9.23,0.679,18.437,1.773,27.367,3.242
          c0.442,0.07,0.879,0.105,1.309,0.105C233.227,58.055,236.618,55.274,237.263,51.356z"/>
      </g>
      </svg>

    	<h3>Look like you do not have any order</h3>


    	<button class="button button-positive" ng-click="shopNow()">Shop Now</button>

    </div>
	</ion-content>
</ion-view>
