<ion-popover-view>
    <ion-content>
      <ion-list>
      	<ion-item ng-repeat = "weight in weightData" ng-click="setItemScale(weight)">
      	<span ng-if="weight<1000">{{weight}} g</span>
      	<span ng-if="weight>=1000">{{weight/1000}} Kg</span>
      	</ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>