.cakes--cat-block {
  width: calc(100%/2);
  display: inline-block;
  padding: 10px;
  border: 0px solid #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-sizing: border-box; }
  .cakes--cat-block img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .cakes--cat-block .gnt {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 120px; }
  .cakes--cat-block h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap; }
  .cakes--cat-block p {
    margin-top: 5px; }
  .cakes--cat-block.activated {
    background: #fafafa; }
    .cakes--cat-block.activated img {
      border-radius: 0px; }

.bar.bar-stable {
  background: #fff;
  border: 0px; }
  .bar.bar-stable button i {
    font-size: 17px; }
    .bar.bar-stable button i.icon:before {
      font-size: 9px; }
    .bar.bar-stable button i.icon.red {
      color: #EF5A4E; }
  .bar.bar-stable .title {
    font-size: 15px; }

.red {
  color: #EF5A4E; }

.cakes--listing-block {
  padding: 0;
  float: left;
  border: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#231133+0,443372+50,565cad+100 */
  background: #231133;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231133 0%, #443372 50%, #565cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .cakes--listing-block .item-body {
    padding: 0;
    border: 0px;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45);
    margin: 15px;
    border: 10px solid #fff;
    border-radius: 8px; }
    .cakes--listing-block .item-body img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
      border-radius: 0px 0px 10px 10px; }
    .cakes--listing-block .item-body .text--block {
      padding: 10px;
      background: white;
      width: calc(100% - 94px); }
      .cakes--listing-block .item-body .text--block h2 {
        margin: 0;
        font-size: 14px;
        font-weight: 500; }
      .cakes--listing-block .item-body .text--block p {
        margin: 0; }
    .cakes--listing-block .item-body .cake--price {
      position: absolute;
      z-index: 5;
      top: 146px;
      right: 15px;
      background: #fff;
      text-align: center;
      padding: 10px;
      border: 1px solid #EF5A4E;
      border-radius: 5px;
      box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.11); }
      .cakes--listing-block .item-body .cake--price a {
        display: block;
        text-align: center;
        padding: 0;
        color: #666666;
        text-transform: lowercase; }
        .cakes--listing-block .item-body .cake--price a.assertive {
          font-weight: 800;
          text-transform: capitalize;
          color: #EF5A4E; }

.cake--details-block .coverr {
  float: left;
  width: 100%; }

.cake--details-block .card {
  margin: 13px;
  border: 0px solid #fff;
  border-radius: 8px;
  padding: 0;
  width: calc( 100% - 26px);
  min-height: 236px; }
  .cake--details-block .card .full-image {
    display: block;
    margin: 0;
    padding: 0; }

.cake--details-block .card-details {
  padding: 15px; }
  .cake--details-block .card-details h2 {
    font-size: 18px;
    margin-bottom: 5px; }
  .cake--details-block .card-details h6 {
    margin: 0;
    margin-bottom: 15px; }
  .cake--details-block .card-details a {
    width: 100%;
    font-weight: 600;
    font-size: 18px; }
    .cake--details-block .card-details a span {
      text-align-last: auto;
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      color: #444;
      margin-left: 10px;
      text-transform: lowercase; }

.footer--block {
  padding: 0;
  text-align: center; }
  .footer--block .left, .footer--block .right {
    line-height: 45px; }
  .footer--block .left {
    width: 50%; }
  .footer--block .right {
    width: 50%;
    background: #fff;
    color: #4d4d4d;
    font-weight: 500; }

.cake--login--block {
  margin: 0px;
  height: 100%;
  background: #000;
  float: left;
  width: 100%;
  background: #231133;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231133 0%, #443372 50%, #565cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .cake--login--block .cake--login--cover {
    background: #fff;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45); }
    .cake--login--block .cake--login--cover a {
      text-decoration: none;
      color: #0073BD;
      text-align: center; }
    .cake--login--block .cake--login--cover .error {
      color: #EF5A4E;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px; }

.acc-head {
  background: #0073BD;
  min-height: 150px; }
  .acc-head.activated {
    background: #006aae; }

.acc-list .card {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 45px;
  line-height: 45px;
  box-shadow: none; }
  .acc-list .card i {
    margin-right: 10px; }
  .acc-list .card.activated {
    background: #006aae;
    color: #fff;
    border-color: #006aae; }

.address--block {
  background: #231133;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231133 0%, #443372 50%, #565cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  float: left;
  width: 100%;
  height: 100%; }
  .address--block .item-f-list {
    padding-top: 5px;
    padding-bottom: 5px; }
    .address--block .item-f-list .error {
      color: #EF5A4E;
      font-size: 12px; }

.search--block .bar-header {
  padding: 0; }
  .search--block .bar-header input {
    padding: 0;
    display: inline-block;
    width: calc( 100% - 45px);
    margin-top: -5px; }
  .search--block .bar-header button {
    display: inline-block;
    width: 40px; }

.search--block button {
  border: 0px;
  background: #fff; }

.search--block .item {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #f1f1f1; }

.search--head {
  background: #F5F5F5;
  font-size: 14px; }
  .search--head span {
    background: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    margin-left: 1px; }
  .search--head p {
    font-size: 12px;
    margin: 0; }

.user-add-list--block {
  background: #231133;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231133 0%, #443372 50%, #565cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231133 0%, #443372 50%, #565cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  float: left;
  width: 100%;
  min-height: 100%; }
  .user-add-list--block .list {
    margin: 15px;
    border-radius: 8px; }
    .user-add-list--block .list .item {
      border-radius: 8px;
      border: 0px;
      margin-bottom: 20px; }
      .user-add-list--block .list .item .type {
        position: absolute;
        font-size: 14px;
        right: 0;
        top: 0;
        text-align: right; }
        .user-add-list--block .list .item .type span {
          background: #444;
          color: #fff;
          padding: 4px 7px;
          border-radius: 4px;
          font-size: 11px; }
      .user-add-list--block .list .item .options {
        position: absolute;
        right: 56px;
        top: 6px; }
        .user-add-list--block .list .item .options .edit, .user-add-list--block .list .item .options .delete {
          display: inline-block; }
          .user-add-list--block .list .item .options .edit button, .user-add-list--block .list .item .options .delete button {
            border: 0;
            font-size: 16px;
            background: #fff;
            color: #444; }
  .user-add-list--block.section--section--adreess .list .item h3 {
    margin-top: 28px; }
  .user-add-list--block.section--section--adreess .list .item .type {
    top: 15px; }
    .user-add-list--block.section--section--adreess .list .item .type span {
      float: left;
      margin-left: 18px; }
  .user-add-list--block.section--section--adreess .list .item-radio {
    border: 1px solid #ccc;
    margin: 0; }
    .user-add-list--block.section--section--adreess .list .item-radio .item-content {
      padding: 10px 10px;
      text-align: center;
      font-size: 14px;
      border-radius: 0px; }
    .user-add-list--block.section--section--adreess .list .item-radio .radio-icon {
      padding: 9px 14px;
      font-size: 15px; }
  .user-add-list--block.section--section--adreess .list .options {
    position: absolute;
    right: 20px;
    top: 20px; }
    .user-add-list--block.section--section--adreess .list .options .edit, .user-add-list--block.section--section--adreess .list .options .delete {
      display: inline-block; }
      .user-add-list--block.section--section--adreess .list .options .edit button, .user-add-list--block.section--section--adreess .list .options .delete button {
        border: 0;
        font-size: 16px;
        background: #fff;
        color: #444; }

.change--password .item {
  margin-bottom: 5px !important;
  background: #f3f3f3; }

.change--password .input-label {
  font-size: 13px; }

.cart--block--list .item-content {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.cart--block--list img {
  width: 60px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 15px; }

.cart--block--list .qty {
  margin: 0;
  float: right;
  margin-right: 10px;
  border-color: #b3b3b3;
  border-radius: 5px; }

.cart--block--list .right--bl {
  display: inline-block;
  width: calc(100% - 75px);
  float: right; }
  .cart--block--list .right--bl h2, .cart--block--list .right--bl p {
    white-space: normal;
    margin-top: 0;
    width: 100%;
    font-size: 14px; }
  .cart--block--list .right--bl p {
    font-weight: 700;
    color: #333333; }
    .cart--block--list .right--bl p i {
      font-size: 14px; }

.total--block .list {
  background: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px; }

.total--block .row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333333;
  font-weight: 500; }
  .total--block .row .col-75 {
    color: gray;
    font-weight: 400; }
    .total--block .row .col-75 .cover {
      border: 1px solid #8BC34A;
      border-radius: 3px;
      padding: 1px 5px;
      margin: 0px 3px;
      background: #fff;
      font-size: 12px; }
  .total--block .row .col-25 {
    text-align: right; }
    .total--block .row .col-25 h4 {
      margin: 0; }

.total--block hr {
  opacity: .3; }

.cart--footer .left {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  font-size: 15px; }
  .cart--footer .left p {
    position: absolute;
    top: 15px;
    left: 0;
    font-weight: normal;
    right: 0;
    text-align: center;
    font-size: 11px; }

.acc-details .item {
  background: #fff3e0;
  border: 1px solid #ffd798; }

.acc-details img {
  border-radius: 8px; }

.acc-details button {
  background: #fff3e0;
  border: 0px;
  color: #4d4d4d;
  position: absolute;
  right: 10px;
  top: 10px; }

h1.title.uyp {
  font-size: 15px !important; }
  h1.title.uyp i {
    margin-right: 15px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vpwdua");
  src: url("../fonts/icomoon.eot?vpwdua#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vpwdua") format("truetype"), url("../fonts/icomoon.woff?vpwdua") format("woff"), url("../fonts/icomoon.svg?vpwdua#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cake-colour .path1:before {
  content: "\e907";
  color: #282525; }

.icon-cake-colour .path2:before {
  content: "\e908";
  margin-left: -1.228515625em;
  color: #ef4545; }

.icon-cake-colour .path3:before {
  content: "\e909";
  margin-left: -1.228515625em;
  color: #ef4545; }

.icon-cake-colour .path4:before {
  content: "\e90a";
  margin-left: -1.228515625em;
  color: #0c20a7; }

.icon-cake-colour .path5:before {
  content: "\e90b";
  margin-left: -1.228515625em;
  color: #ef4545; }

.icon-cake-colour .path6:before {
  content: "\e90c";
  margin-left: -1.228515625em;
  color: #0c20a7; }

.icon-cake-colour .path7:before {
  content: "\e90d";
  margin-left: -1.228515625em;
  color: #ef4545; }

.icon-cake-colour .path8:before {
  content: "\e90e";
  margin-left: -1.228515625em;
  color: #0c20a7; }

.icon-cake-colour .path9:before {
  content: "\e90f";
  margin-left: -1.228515625em;
  color: #ef4545; }

.icon-cake:before {
  content: "\e906"; }

.icon-close:before {
  content: "\e905"; }

.icon-edit:before {
  content: "\e904"; }

.icon-shopping-bag:before {
  content: "\e901"; }

.icon-rupee:before {
  content: "\e903"; }

.icon-user:before {
  content: "\e902"; }

.icon-search:before {
  content: "\e900"; }

.os--block {
  display: inline-block;
  width: calc( 100% - 20px);
  margin-top: 0;
  margin-bottom: 20px;
  box-shadow: none; }
  .os--block .address {
    padding: 10px;
    box-shadow: none; }
  .os--block .card {
    padding: 10px;
    display: inline-block;
    margin: 0; }

.slc-date {
  background: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px; }
  .slc-date .outline {
    text-align: center;
    border: 1px solid #444;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    background: #fff; }
    .slc-date .outline h3 {
      margin: 0;
      font-size: 14px;
      color: #000; }

.search-modal {
  margin: 1px;
  width: calc( 100% - 2px);
  box-shadow: 0px 0px 23px #000;
  border-radius: 6px;
  overflow: hidden; }

.udp-modal {
  margin: 20px;
  width: calc( 100% - 40px);
  height: 207px;
  min-height: 0px;
  margin-top: 21vh;
  box-shadow: 0px 0px 133px rgba(0, 0, 0, 0.61); }

.add---new {
  background: transparent;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  .add---new button {
    bottom: 0;
    text-align: center;
    display: block; }

.succes-block {
  text-align: center;
  padding: 50px; }
  .succes-block i {
    font-size: 80px;
    color: #009688; }
  .succes-block h3 {
    color: #009688;
    font-weight: 300; }
  .succes-block p {
    margin-top: 15px;
    margin-bottom: 15px; }
  .succes-block .button {
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px; }

.item--thum--block {
  padding: 20px 14px;
  font-size: 14px; }
  .item--thum--block:nth-child(2n+1) {
    background: #F5F5F5; }
  .item--thum--block .order-de--block {
    padding-bottom: 10px; }
    .item--thum--block .order-de--block span {
      font-size: 11px; }
  .item--thum--block .thumb {
    position: relative;
    min-height: 60px; }
    .item--thum--block .thumb img {
      position: absolute;
      width: 80px;
      height: 60px;
      object-fit: cover;
      left: 0;
      top: 0; }
    .item--thum--block .thumb .text {
      width: calc(100% - 90px);
      float: right; }
      .item--thum--block .thumb .text h2 {
        font-size: 14px; }
  .item--thum--block .deli--d--block {
    padding-top: 10px; }
    .item--thum--block .deli--d--block span {
      font-size: 11px; }
      .item--thum--block .deli--d--block span b {
        color: #4CAF50;
        font-size: 12px;
        font-weight: 500; }

.banner--block {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  display: block;
  margin-top: -10px;
  background: #e6e6e6; }
  .banner--block img {
    width: 100%;
    display: block; }

.buttons.buttons-right {
  top: 0 !important;
  bottom: 0 !important;
  right: 0; }

.img--profile {
  width: 80px;
  height: 80px;
  background: #efe0ca;
  display: block;
  position: absolute;
  left: 10px;
  border-radius: 10px;
  line-height: 85px;
  text-align: center;
  font-size: 52px;
  color: #ccbeab; }

.done {
  font-size: 15px !important;
  color: #2196F3 !important; }

.home-list-thumb {
  width: 100%;
  min-height: 200px;
  background: #e6e6e6; }

.cat-thumb {
  width: 150px;
  height: 120px;
  background: #e6e6e6;
  border-radius: 20px 0px 20px 0px; }
