$primary: #EF5A4E;
$success: #0073BD;
@mixin transition($valu) {
-webkit-transition: all $valu ease;
-moz-transition: all $valu ease;
-o-transition: all $valu ease;
transition: all $valu ease;
}

.cakes--cat-block{
  width: calc(100%/2);
  display: inline-block;
  padding: 10px;
  border: 0px solid #fff;
  @include transition(.2s);
  box-sizing: border-box;
  img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px ;
    @include transition(.2s);
  }
  .gnt{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
  }
  h2{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
  }
  p{
    margin-top: 5px;
  }
  &.activated{
    background: darken(#fff, 2%);

    img{
      border-radius: 0px;
    }
  }
}

// header
.bar{
  &.bar-stable{
    background: #fff;
    border: 0px;
    button{
      i{
        font-size: 17px;
        &.icon{
          &:before{
            font-size: 9px;
          }
          &.red{
            color: $primary;
          }
        }
      }
    }
    .title{
      font-size: 15px;
    }
  }
}
.red{
  color: $primary;
}

// cake list

.cakes--listing-block{
  padding: 0;
  float: left;
  border: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#231133+0,443372+50,565cad+100 */
  background: rgb(35,17,51); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(35,17,51,1) 0%, rgba(68,51,114,1) 50%, rgba(86,92,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .item-body{
    padding: 0;
    border: 0px;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45);
    margin: 15px;
    border: 10px solid #fff;
    border-radius: 8px;
    img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
      border-radius: 0px 0px 10px 10px;
    }
    .text--block{
      padding: 10px;
      background: darken(#fff, 0%);
      width: calc(100% - 94px);
      h2{
         margin: 0;
         font-size: 14px;
         font-weight: 500;
      }
      p{ margin: 0; }
    }
    .cake--price{
      position: absolute;
      z-index: 5;
      top: 146px;
      right: 15px;
      background: #fff;
      text-align: center;
      padding: 10px;
      border: 1px solid #EF5A4E;
      border-radius: 5px;
      box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.11);
      a{
        display: block;
        text-align: center;
        padding: 0;
        color: lighten(#000, 40%);
        text-transform: lowercase;
        &.assertive{
          font-weight: 800;
          text-transform: capitalize;
          color: $primary;
        }
      }
    }
  }
}

// Details Page

.cake--details-block{
  .coverr{
    float: left;
    width: 100%;
  }
  .card{
    margin: 13px;
    border: 0px solid #fff;
    border-radius: 8px;
    padding: 0;
    width: calc( 100% - 26px);
    min-height: 236px;
    .full-image{
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  .card-details{
    padding: 15px;
    h2{
      font-size: 18px;
      margin-bottom: 5px;
    }
    h6{
      margin: 0;
      margin-bottom: 15px;
    }
    a{
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      span{
        text-align-last: auto;
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #444;
        margin-left: 10px;
        text-transform: lowercase;
      }
    }
  }
}


.footer--block{
  padding: 0;
  text-align: center;
  .left,.right{
    line-height: 45px;
  }
  .left{
    width: 50%;
  }
  .right{
    width: 50%;
    background: #fff;
    color: darken(#fff, 70%);
    font-weight: 500;
  }
}

// login

.cake--login--block{
  margin: 0px;
  height: 100%;
  background: #000;
  float: left;
  width: 100%;
  background: rgb(35,17,51); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(35,17,51,1) 0%, rgba(68,51,114,1) 50%, rgba(86,92,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .cake--login--cover{
    background: #fff;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45);
    a{
      text-decoration: none;
      color: $success;
      text-align: center;
    }
    .error{
      color: $primary;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
    }
  }
}

// Account
.acc-head{
  background: $success;
  min-height: 150px;
  &.activated{
    background: darken($success, 3%);
  }
}
.acc-list{
  .card{
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 45px;
    line-height: 45px;
    box-shadow: none;
    i{
      margin-right: 10px;
    }
    &.activated{
      background: darken($success, 3%);
      color: #fff;
      border-color:  darken($success, 3%);
    }
  }
}



.address--block{
  background: rgb(35,17,51); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(35,17,51,1) 0%, rgba(68,51,114,1) 50%, rgba(86,92,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  float: left;
  width: 100%;
  height: 100%;
  .item-f-list{
    padding-top: 5px;
    padding-bottom: 5px;
    .error{
      color: $primary;
      font-size: 12px;
    }
  }
}


.search--block{
  .bar-header{
    padding: 0;
    input{
      padding: 0;
      display: inline-block;
      width: calc( 100% - 45px );
      margin-top: -5px;
    }
    button{
      display: inline-block;
      width: 40px;
    }
  }
  button{
    border: 0px;
    background: #fff;
  }
  .item{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #f1f1f1;
  }
}

.search--head {
    background: #F5F5F5;
    font-size: 14px;
    span{
      background: #fff;
      padding: 4px 8px;
      border-radius: 5px;
      border: 2px solid #e0e0e0;
      margin-left: 1px;
    }
    p{
      font-size: 12px;
      margin: 0;
    }
}


.user-add-list--block{
  background: rgb(35,17,51); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(35,17,51,1) 0%, rgba(68,51,114,1) 50%, rgba(86,92,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(35,17,51,1) 0%,rgba(68,51,114,1) 50%,rgba(86,92,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231133', endColorstr='#565cad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  float: left;
  width: 100%;
  min-height: 100%;
  .list{
    margin: 15px;
    border-radius: 8px;
    .item{
      border-radius: 8px;
      border: 0px;
      margin-bottom: 20px;
      .type{
        position: absolute;
        font-size: 14px;
        right: 0;
        top: 0;
        text-align: right;
        span{
          background: #444;
          color: #fff;
          padding: 4px 7px;
          border-radius: 4px;
          font-size: 11px;
        }
      }
      .options{
        position: absolute;
        right: 56px;
        top: 6px;
        .edit,.delete{
          display: inline-block;
          button{
            border: 0;
            font-size: 16px;
            background: #fff;
            color: #444;
          }
        }
        .edit{}
        .delete{}
      }
    }
  }
  &.section--section--adreess{
    .list{
      .item{
        h3{
          margin-top: 28px;
        }
        .type{
          top: 15px;
          span{
            float: left;
            margin-left: 18px;
          }
        }
      }
      .item-radio{
        border: 1px solid #ccc;
        margin: 0;
          .item-content{
            padding: 10px 10px;
            text-align: center;
            font-size: 14px;
            border-radius: 0px;
          }
          .radio-icon{
            padding: 9px 14px;
            font-size: 15px;
          }
      }
      .options{
        position: absolute;
        right: 20px;
        top: 20px;
        .edit,.delete{
          display: inline-block;
          button{
            border: 0;
            font-size: 16px;
            background: #fff;
            color: #444;
          }
        }
        .edit{}
        .delete{}
      }
    }
  }
}


.change--password{
  .item{
    margin-bottom: 5px !important;
    background: #f3f3f3;
  }
  .input-label{
    font-size: 13px;
  }
}


.cart--block--list{
  .item-content{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  img{
    width: 60px;
    display: inline-block;
    position: absolute;
    left: 10px;top: 15px;

  }
  .qty{
    margin: 0;
    float: right;
    margin-right: 10px;
    border-color: lighten(#000, 70%);
    border-radius: 5px;
  }
  .right--bl{
    display: inline-block;
    width: calc(100% - 75px);
    float: right;
    h2,p{
      white-space: normal;
      margin-top: 0;
      width: 100%;
      font-size: 14px;
    }
    p{
      font-weight: 700;
      color: lighten(#000, 20%);
      i{
        font-size: 14px;
      }
    }
  }
}



.total--block{
  .list{
    background: darken(#fff, 5%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: lighten(#000, 20%);
    font-weight: 500;
    .col-75{
      color: lighten(#000, 50%);
      font-weight: 400;
      .cover{
        border: 1px solid #8BC34A;
        border-radius: 3px;
        padding: 1px 5px;
        margin: 0px 3px;
        background: #fff;
        font-size: 12px;
      }
    }
    .col-25{
      text-align: right;
      h4{
        margin: 0;
      }
    }
  }
  hr{
    opacity: .3;
  }
}

.cart--footer{
  .left{
    position: relative;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
    p{
      position: absolute;
      top: 15px;
      left: 0;
      font-weight: normal;
      right: 0;
      text-align: center;
      font-size: 11px;
    }
  }
}


.acc-details{
  .item{
    background: #fff3e0;
    border: 1px solid #ffd798;
  }
  img{
    border-radius: 8px;
  }
  button{
    background: #fff3e0;
    border: 0px;
    color: lighten(#000, 30%);
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

h1{
  &.title.uyp{
    font-size: 15px !important;
    i{
      margin-right: 15px;
    }
  }
}


// iconmoon


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vpwdua');
  src:  url('../fonts/icomoon.eot?vpwdua#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vpwdua') format('truetype'),
    url('../fonts/icomoon.woff?vpwdua') format('woff'),
    url('../fonts/icomoon.svg?vpwdua#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cake-colour .path1:before {
  content: "\e907";
  color: rgb(40, 37, 37);
}
.icon-cake-colour .path2:before {
  content: "\e908";
  margin-left: -1.228515625em;
  color: rgb(239, 69, 69);
}
.icon-cake-colour .path3:before {
  content: "\e909";
  margin-left: -1.228515625em;
  color: rgb(239, 69, 69);
}
.icon-cake-colour .path4:before {
  content: "\e90a";
  margin-left: -1.228515625em;
  color: rgb(12, 32, 167);
}
.icon-cake-colour .path5:before {
  content: "\e90b";
  margin-left: -1.228515625em;
  color: rgb(239, 69, 69);
}
.icon-cake-colour .path6:before {
  content: "\e90c";
  margin-left: -1.228515625em;
  color: rgb(12, 32, 167);
}
.icon-cake-colour .path7:before {
  content: "\e90d";
  margin-left: -1.228515625em;
  color: rgb(239, 69, 69);
}
.icon-cake-colour .path8:before {
  content: "\e90e";
  margin-left: -1.228515625em;
  color: rgb(12, 32, 167);
}
.icon-cake-colour .path9:before {
  content: "\e90f";
  margin-left: -1.228515625em;
  color: rgb(239, 69, 69);
}
.icon-cake:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e904";
}
.icon-shopping-bag:before {
  content: "\e901";
}
.icon-rupee:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}



// close iconmoon


.os--block{
  display: inline-block;
  width: calc( 100% - 20px );
  margin-top: 0;
  margin-bottom: 20px;
  box-shadow: none;
  .address{
    padding: 10px;
    box-shadow: none;
  }
  .card{
    padding: 10px;
    display: inline-block;
    margin: 0;
  }
}


.slc-date{
  background: lighten(#ccc, 18%);
  padding-top: 15px;
  padding-bottom: 15px;
  .outline{
    text-align: center;
    border: 1px solid #444;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    background: #fff;
    h3{
      margin: 0;
      font-size: 14px;
      color: #000;
    }
  }
}


.search-modal {
      margin: 1px;
      width: calc( 100% - 2px );
      box-shadow: 0px 0px 23px #000;
      border-radius: 6px;
      overflow: hidden;
}

.udp-modal{
  margin: 20px;
  width: calc( 100% - 40px );
  height: 207px;
  min-height: 0px;
  margin-top: 21vh;
  box-shadow: 0px 0px 133px rgba(0, 0, 0, 0.61);
}


.section--section--adreess{

}


.add---new{
  background: transparent;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  button{
    bottom: 0;
    text-align: center;
    display: block;
  }
}


.succes-block{
  text-align: center;
  padding: 50px;
  i{
    font-size: 80px;
    color: #009688;
  }
  h3{
    color: #009688;
    font-weight: 300;
  }
  p{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .button{
    border-radius: 4px;
    margin-left: 5px;margin-right: 5px;
  }
}


.item--thum--block{
  padding: 20px 14px;
  font-size: 14px;
  &:nth-child(2n+1){
    background: #F5F5F5;
  }
  .order-de--block{
    padding-bottom: 10px;
    span{
      font-size: 11px;
    }
  }
  .thumb{
    position: relative;
    min-height: 60px;
    img{
      position: absolute;
      width: 80px;
      height: 60px;
      object-fit: cover;
      left: 0;
      top: 0;
    }
    .text{
      width: calc(100% - 90px);
      float: right;
      h2{
        font-size: 14px;
      }
    }
  }
  .deli--d--block{
    padding-top: 10px;
    span{
      font-size: 11px;
      b{
        color: #4CAF50;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.banner--block{
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  display: block;
  margin-top: -10px;
  background: lighten( #ccc, 10%);
  img{
    width: 100%;
    display: block;
  }
}

.buttons.buttons-right{
  top: 0 !important; bottom: 0 !important;right: 0;
}


.img--profile{
  width: 80px;
  height: 80px;
  background: #efe0ca;
  display: block;
  position: absolute;
  left: 10px;
  border-radius: 10px;
  line-height: 85px;
  text-align: center;
  font-size: 52px;
  color: #ccbeab;
}

.done{
  font-size: 15px !important;
  color: #2196F3 !important;
}


.home-list-thumb{
  width: 100%;
  min-height: 200px;
  background: lighten( #ccc, 10%);
}

.cat-thumb{
  width: 150px;
  height: 120px;
  background: lighten( #ccc, 10%);
  border-radius: 20px 0px 20px 0px;
}
